{% extends 'base.html' %}

{% block head %}
    <title>URA PLUSPLUS</title>
{% endblock %}

{% block body %}
    <table>
        {% if classroom_schedule != None %}
        {% for day in classroom_schedule %}
            <tr>
                {% for hour in day.hours %}
                    <td>
                        {{ hour.grade }}
                        <br>
                        {{ hour.professor }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    <table>
        {% if grade_schedule != None %}
        {% for day in grade_schedule %}
            <tr>
                {% for hour in day.hours %}
                    <td>
                        {{ hour.subject }}
                        <br>
                        {{ hour.professor }}
                        <br>
                        {{ hour.classroom }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    <div>
        <h1>Thoughts</h1>
        {% if shower_thoughts != None %}
        {% for thought in shower_thoughts %}
            <p>
                {{ thought }}
            </p>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
